<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= title_content %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style type="text/css">
    .ui.menu .item img.logo {
      margin-right: 1.5em;
    }
  </style>
</head>
<body>

  <% if user_signed_in? %>
      <%= render 'utils/nav_bar_signed' %>
  <% else %>
      <%= render 'utils/nav_bar_unsigned' %>
  <% end %>

<div class="ui container">

  <%= yield %>

</div>



</body>
</html>
